.card-container {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border-radius: 3px;
  padding: 30px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 10px;
}
/* .card-container img {
  width: 100%;
} */

.card-container:hover {
  transform: scale(1.05);
}
